Beta 2.0.0.xlsx
Meta.code-workspace
Meta.sln
Meta.vcxproj
Meta.vcxproj.filters
Meta.vcxproj.user
source.exe
.vs/Meta/FileContentIndex/ed6f2b13-1f35-4ce4-a00a-f5d44a29e4e2.vsidx
.vs/Meta/FileContentIndex/read.lock
.vs/Meta/v17/.suo
.vs/Meta/v17/Browse.VC.db
.vs/Meta/v17/ipch/AutoPCH/c7ec4b0dc44eab37/SOURCE.ipch
.vscode/settings.json
x64/Debug/Meta.exe
x64/Debug/Meta.exe.recipe
x64/Debug/Meta.ilk
x64/Debug/Meta.log
x64/Debug/Meta.pdb
x64/Debug/Meta.vcxproj.FileListAbsolute.txt
x64/Debug/source.obj
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
x64/Debug/Meta.tlog/CL.command.1.tlog
x64/Debug/Meta.tlog/CL.read.1.tlog
x64/Debug/Meta.tlog/CL.write.1.tlog
x64/Debug/Meta.tlog/link.command.1.tlog
x64/Debug/Meta.tlog/link.read.1.tlog
x64/Debug/Meta.tlog/link.write.1.tlog
x64/Debug/Meta.tlog/Meta.lastbuildstate
